*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logodiv{
  background:white;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.navbar{
  width: 100%;
  background:white; 
  border-top:1px solid cyan;
  border-bottom:1px solid cyan;
  text-align: center;
}
.menu{
  margin: 0;
  padding: 0;
}
.menu li{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  line-height: 80px;
}
.menu li a {
  display: block;
  color:black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;   
    padding-left: 20px;
    padding-right: 20px;
}


.menu  li a:hover, 
.menu  li a.current {
background: whitesmoke;
  color:#f7c08a;
}
/*Services*/
.Services{
  max-width: 100%;
}
 img.resize{
  width:300px;
  height:300px;  
}
.first{
  padding-left:40px ;
  margin-right: auto;
}
.first img{
 
  margin: 1.66%;
}
.second{
  width: 100%;
  border-bottom: cyan 1px solid;
  padding-left: 40px;
  margin-right: auto;
}
.second img{
  margin: 1.66%;
}


/* sponsers */
#Sponsers{
    width: 100%;
}
#Sponsers .items{
 
    display: flex;
}
#Sponsers .Sponsercontainer h2{
  text-align: center;
}
/* Section: Clients */
#Sponsers .items {
    display: flex;
  }
  
  #Sponsers .items img {
    display: block;
    margin: auto;
    width: 100%;
    padding:30px;
  }
    /* 
FOOTER */
 .footer{
   background: #c2b7b7;
   padding:90px 0;
 }

.containerFooter{
  width: 100%;
  margin: auto;
  padding: 0 20px;
  height:10em;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.footerLogo{
 width: 300px;
}
.socialMedia{
  margin:20px 0;
}
.socialMedia a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
.sociaMedia a:hover{
  color:#fc5c65
}
.right-col h1{
  font-size: 26px;
}

.border{
  width: 50%;
  height: 4px;
  background: #fc5c65;
}
.contactParagraph{

}
.middle{
  /*border: black 3px solid;*/
}
@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
/* Utility Classes */

.Sponsercontainer { 
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
  }


  .text-center {
    text-align:center;
  }
  .m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
  }

  .bg-dark {
    background: #333;
    color: #fff;
  }

  .py-1 { 
    padding: 1.5rem 0; 
  }
  